
<div class="d-flex flex-column min-vh-100 bg-light justify-content-center align-items-center px-3">
  <div class="card w-100" style="max-width: 24rem;">
    <div class="card-header">
      <div class="mb-3">
        <a [routerLink]="['/login']"  class="text-decoration-none text-secondary small">
          <i class="bi bi-arrow-left me-2"></i>Volver al inicio de sesión
        </a>
      </div>
      <h5 class="card-title fw-bold">Restablecer contraseña</h5>
      <p class="card-text text-muted">Ingresa tu nueva contraseña para restablecer tu cuenta.</p>
    </div>
    <div class="card-body">
      <!-- Mostrar formulario antes de enviar -->
      <form id="reset-password-form" (ngSubmit)="resetPassword()">
        <div class="mb-3">
          <label for="password" class="form-label">Nueva contraseña</label>
          <div class="input-group">
            <input
              id="password"
              type="password"
              name="newPassword"
              [(ngModel)]="newPassword"
              class="form-control"
              placeholder="Nueva contraseña"
              required
            />
            
          </div>
        </div>
        <div class="mb-3">
          <label for="confirm-password" class="form-label">Confirmar nueva contraseña</label>
          <input
            id="confirm-password"
            type="password"
            name="confirmPassword"
            [(ngModel)]="confirmPassword"
            class="form-control"
            placeholder="Confirmar contraseña"
            required
          />
        </div>
        <div id="error-message" class="text-danger small d-none"></div>
        <button type="submit" class="btn btn-dark w-100">Restablecer contraseña</button>
      </form>

      @if (message != "Las contraseñas no coinciden.") {
      <!-- Mostrar mensaje después de enviar -->
      <div id="success-message" >
        <p>{{message}}</p>
      </div>
    }@else {
      <div id="success-danger" >
        <p>{{message}}</p>
      </div>
    }
    </div>
    <div class="card-footer text-center">
      <p class="text-muted small">
        ¿Ya tienes una cuenta?
        <a [routerLink]="['/login']"   class="text-decoration-none">Iniciar sesión</a>
      </p>
    </div>
  </div>
</div>

